h1 {
    color: blue;
    text-align: center;
    font-size: 60;
    font-weight:600px ;
}
p {
    text-align: center;
    font-size: 50;
}
.jumbotron {
    background-color: beige;
    margin: auto;
    
}
body {
    background-color: rgb(221, 213, 213);
}
button {
    font-style:normal;
    font-size: larger;
    font-weight: 600;
}